/* Navigation */
#navbar{
    flex-direction: column;
    flex-grow: inherit;
}
#navbar ul li a{
    font-size: 1.1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}

/* Home Section */
#home{
    height: 250px;
    padding: 3px 20px;
}
#home::before{
    height: 350px;
}
#home p{
    font-size: 1.0rem;
}

/* Services Section */
#services{
    flex-direction: column;
}
#services .box{
    padding: 14px;
    margin: 2px 0px;
    margin-bottom: 10px;
}

/* Client Section */
#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 65px;
    height: auto;
}

/* Contact Section */
#contact-box form{
    width: 80%;
}

/* Footer */

/* Utility Classes */
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 13px;
    padding: 6px 12px;
}